/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.cursor
.cursorrules
.gitignore_laravel
/database/database.sqlite

# Flutter
/mobile/.dart_tool/
/mobile/.packages
/mobile/build/
/mobile/android/
/mobile/ios/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
